<%= link_to 'Products and Produce', products_path %>
<%= link_to 'Store Locations', stores_path %>
<%= link_to 'Inventory', stocks_path %>

<div class="container">
	<h1>Store Locations: </h1>

	<a class = "btn btn-success btn-sm mr-1" href="<%=new_store_path%>" role="button"> New Store Location </a>

	<table>
		<thead>
			<tr>
				<th colspan="3"></th>
			</tr>
		</thead>

	<tbody>
			<% @stores.each do |store| %>
				<tr>
					<td>
					<%= link_to store_path(store) do %>
						<%= store.address %> <%= store.street %> <%= store.zip %>
					<% end %>
					</td>
					<td><%= store.phone %></td>
					<td><%= link_to 'Edit', edit_store_path(store) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>