<h1><%=@store.address%> <%=@store.street%> <%=@store.zip%></h1>
<h2><%=@store.phone%></h2>

<table>
	<thead>
		<tr>
			<th colspan="3"></th>
		</tr>
	</thead>

<tbody>
		<% @stocks.each do |stock| %>
			<tr>
				<td>
                    <%= link_to stock_path(stock) do %>
                        <%= stock.product %> <%= stock.quantity %>
                    <% end %>
				</td>
				<td><%= link_to 'Change Quantity', edit_stock_path(stock) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Add Item', new_stock_path %>
<%= link_to 'Back', stores_path%>
<%= link_to 'Edit', edit_store_path(@store) %>  