<%= link_to 'Products and Produce', products_path %>
<%= link_to 'Store Locations', stores_path %>
<%= link_to 'Inventory', stocks_path %>

<div class="container">
	<h1>Inventory:</h1>

	<a class = "btn btn-success btn-sm mr-1" href="<%=new_stock_path%>" role="button"> Add to Inventory </a>

	<table>
		<thead>
			<tr>
				<th colspan="3"></th>
			</tr>
		</thead>

	<tbody>
			<% @stocks.each do |stock| %>
				<tr>
					<td><%= link_to stock.store.street, stock_path(stock)%></td>
					<td><%= stock.product.name %></td>
					<td><%= stock.quantity %></td>
					<td><%= link_to 'Edit', edit_stock_path(stock) %></td>
				</tr>
			<%end%>
		</tbody>
	</table>
</div>