<%= link_to 'Products and Produce', products_path %>
<%= link_to 'Store Locations', stores_path %>
<%= link_to 'Inventory', stocks_path %>

<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>
